<!doctype html>
<html lang="en">
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DESCRIPTION">
    <meta name="author" content="ahmet2mir">
    <title>TITLE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    {% assets "scss_all" %}<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">{% endassets %}
  </head>
  <body>
